<?xml version="1.0" encoding="utf-8"?>
<menu>
  <menuitem label="Gerenciamento">
    <icon>fas:tasks fa-fw </icon>
    <menu>
      <menuitem label="Clientes">
        <icon>far:circle fa-fw </icon>
        <action>ClienteHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Atendentes">
        <icon>far:circle fa-fw </icon>
        <action>AtendenteHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Setores">
        <icon>far:circle fa-fw </icon>
        <action>SetorHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Links">
        <icon>far:circle fa-fw </icon>
        <action>LinkUtilHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Notícias">
        <icon>far:circle fa-fw </icon>
        <action>NoticiaHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Páginas de conhecimento">
        <icon>far:circle fa-fw </icon>
        <action>PaginaConhecimentoHeaderList#method=onShow</action>
      </menuitem>
      <menuitem label="Configurações">
        <icon>fas:cogs fa-fw </icon>
        <menu>
          <menuitem label="Categorias de guia">
            <icon>far:circle fa-fw </icon>
            <action>CategoriaGuiaHeaderList#method=onShow</action>
          </menuitem>
          <menuitem label="Subcategorias de guia">
            <icon>far:circle fa-fw </icon>
            <action>SubcategoriaGuiaHeaderList#method=onShow</action>
          </menuitem>
          <menuitem label="Tipos de atendimento">
            <icon>far:circle fa-fw </icon>
            <action>TipoAtendimentoHeaderList#method=onShow</action>
          </menuitem>
          <menuitem label="Tipos de documento">
            <icon>far:circle fa-fw </icon>
            <action>TipoDocumentoHeaderList#method=onShow</action>
          </menuitem>
        </menu>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Documentos">
    <icon>far:copy fa-fw </icon>
    <menu>
      <menuitem label="Meus documentos">
        <icon>far:circle fa-fw </icon>
        <action>DocumentoClienteList#method=onShow</action>
      </menuitem>
      <menuitem label="Documentos">
        <icon>far:circle fa-fw </icon>
        <action>DocumentoList#method=onShow</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Guias">
    <icon>far:file-archive fa-fw </icon>
    <menu>
      <menuitem label="Minhas Guias">
        <icon>far:circle fa-fw </icon>
        <action>GuiaClienteList#method=onShow</action>
      </menuitem>
      <menuitem label="Guias">
        <icon>far:circle fa-fw </icon>
        <action>GuiaList#method=onShow</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Rotinas">
    <icon>fas:server fa-fw </icon>
    <menu>
      <menuitem label="Configurações">
        <icon>fas:cogs fa-fw </icon>
        <menu>
          <menuitem label="Templates de email">
            <icon>far:circle fa-fw </icon>
            <action>TemplateEmailHeaderList#method=onShow</action>
          </menuitem>
        </menu>
      </menuitem>
      <menuitem label="Filas de email">
        <icon>far:circle fa-fw </icon>
        <action>FilaEmailHeaderList#method=onShow</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Atendimento">
    <icon>fas:question-circle fa-fw </icon>
    <menu>
      <menuitem label="Meus Atendimentos">
        <icon>far:circle fa-fw </icon>
        <action>AtendimentoClienteList#method=onShow</action>
      </menuitem>
      <menuitem label="Atendimentos">
        <icon>far:circle fa-fw </icon>
        <action>AtendimentoList#method=onShow</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Administration}">
    <icon>fas:home fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <icon>fas:tachometer-alt fa-fw</icon>
        <action>SystemAdministrationDashboard</action>
      </menuitem>
      <menuitem label="_t{Programs}">
        <icon>far:file-code fa-fw</icon>
        <action>SystemProgramList</action>
      </menuitem>
      <menuitem label="_t{Groups}">
        <icon>fas:users fa-fw</icon>
        <action>SystemGroupList</action>
      </menuitem>
      <menuitem label="_t{Units}">
        <icon>fas:university fa-fw</icon>
        <action>SystemUnitList</action>
      </menuitem>
      <menuitem label="_t{Users}">
        <icon>fas:user fa-fw</icon>
        <action>SystemUserList</action>
      </menuitem>
      <menuitem label="_t{Database explorer}">
        <icon>fas:database fa-fw</icon>
        <action>SystemDatabaseExplorer</action>
      </menuitem>
      <menuitem label="_t{SQL Panel}">
        <icon>fas:table fa-fw</icon>
        <action>SystemSQLPanel</action>
      </menuitem>
      <menuitem label="_t{Menu editor}">
        <icon>far:edit fa-fw</icon>
        <action>SystemMenuEditor</action>
      </menuitem>
      <menuitem label="_t{Files diff}">
        <icon>fas:file-medical-alt fa-fw</icon>
        <action>SystemFilesDiff</action>
      </menuitem>
      <menuitem label="PHP Info">
        <icon>fas:info-circle fa-fw</icon>
        <action>SystemPHPInfoView</action>
      </menuitem>
      <menuitem label="System Information">
        <icon>fas:desktop fa-fw</icon>
        <action>SystemInformationView</action>
      </menuitem>
      <menuitem label="_t{Preferences}">
        <icon>fas:cog fa-fw</icon>
        <action>SystemPreferenceForm#method=onEdit</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="_t{Documents}">
    <icon>far:file-alt fa-fw</icon>
    <menu>
      <menuitem label="_t{Send document}">
        <icon>fas:cloud-upload-alt fa-fw</icon>
        <action>SystemDocumentUploadForm</action>
      </menuitem>
      <menuitem label="_t{My documents}">
        <icon>fas:archive fa-fw</icon>
        <action>SystemDocumentList</action>
      </menuitem>
      <menuitem label="_t{Shared with me}">
        <icon>fas:share-alt fa-fw</icon>
        <action>SystemSharedDocumentList</action>
      </menuitem>
      <menuitem label="_t{Categories}">
        <icon>fas:th fa-fw</icon>
        <action>SystemDocumentCategoryFormList</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logs">
    <icon>fas:desktop fa-fw</icon>
    <menu>
      <menuitem label="Dashboard">
        <icon>fas:tachometer-alt fa-fw</icon>
        <action>SystemLogDashboard</action>
      </menuitem>
      <menuitem label="_t{Access Log}">
        <icon>fas:key fa-fw</icon>
        <action>SystemAccessLogList</action>
      </menuitem>
      <menuitem label="_t{Change Log}">
        <icon>fas:film fa-fw</icon>
        <action>SystemChangeLogView</action>
      </menuitem>
      <menuitem label="_t{SQL Log}">
        <icon>fas:database fa-fw</icon>
        <action>SystemSqlLogList</action>
      </menuitem>
      <menuitem label="_t{Request Log}">
        <icon>fas:globe fa-fw</icon>
        <action>SystemRequestLogList</action>
      </menuitem>
      <menuitem label="_t{PHP Log}">
        <icon>fas:exclamation-triangle fa-fw</icon>
        <action>SystemPHPErrorLogView</action>
      </menuitem>
      <menuitem label="Session dump">
        <icon>fas:code fa-fw</icon>
        <action>SystemSessionDumpView</action>
      </menuitem>
    </menu>
  </menuitem>
  <menuitem label="Logout">
    <icon>fas:sign-out-alt fa-fw</icon>
    <action>LoginForm#method=onLogout#static=1</action>
  </menuitem>
</menu>
